RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php/$1 [L]

#Apache指南: .htaccess文件
#http://man.chinaunix.net/newsoft/ApacheManual/howto/htaccess.html